tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Aptos Narrow", sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.style58
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Aptos Narrow", sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:"Normal 2";}
.style61
	{mso-number-format:0%;
	mso-style-name:Percent;
	mso-style-id:5;}
.font5
	{color:black;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
.font6
	{color:black;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Aptos Narrow", sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl66
	{mso-style-parent:style0;
	mso-number-format:"Short Date";}
.xl67
	{mso-style-parent:style0;
	background:yellow;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	color:black;
	background:yellow;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	font-weight:700;}
.xl70
	{mso-style-parent:style0;
	color:black;
	mso-number-format:"Short Date";}
.xl71
	{mso-style-parent:style0;
	background:red;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	text-align:center;}
.xl73
	{mso-style-parent:style61;
	font-weight:700;
	mso-number-format:0%;}
.xl74
	{mso-style-parent:style0;
	color:navy;
	font-size:14.0pt;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center-across;
	vertical-align:middle;}
.xl75
	{mso-style-parent:style0;
	text-align:center-across;}
.xl76
	{mso-style-parent:style0;
	color:black;
	font-size:23.0pt;
	font-weight:700;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center-across;
	vertical-align:middle;}
.xl77
	{mso-style-parent:style0;
	color:black;
	font-size:14.0pt;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	text-align:center-across;
	vertical-align:middle;}
.xl78
	{mso-style-parent:style0;
	font-weight:700;
	background:#4EA72E;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style61;
	font-weight:700;
	mso-number-format:0%;
	background:#4EA72E;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;}
.xl81
	{mso-style-parent:style0;
	background:#0F9ED5;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style58;
	font-size:11.0pt;}
.xl83
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl84
	{mso-style-parent:style0;
	text-align:center-across;
	border:.5pt solid windowtext;}
.xl85
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl86
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\;\\\(\#\,\#\#0\\\)\;\\-";
	text-align:right;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl87
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl88
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\;\\\(\#\,\#\#0\\\)\;\\-";
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl89
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#E8E8E8;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\;\\\(\#\,\#\#0\\\)\;\\-";
	text-align:right;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#E8E8E8;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\;\\\(\#\,\#\#0\\\)\;\\-";
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl92
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#CCECFF;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\;\\\(\#\,\#\#0\\\)\;\\-";
	text-align:right;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#CCECFF;
	mso-pattern:black none;}
